@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="header">
    <img style="width:300px;object-fit:cover;" src="/images/logo1.jpg"/>
    <p>DacikMedia</p>
</div>

<div class="row">
    <div class="column side">
        <img style="width: 75px" src="/images/iconArt.svg"/>
        
    </div>
    <div class="column middle">
        <h2>Application uses</h2>
        <ul>
            <li>This is a sample page created for DacikMedia</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="column side"></div>
</div>
