@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="header">
    <img style="width:300px;object-fit:cover;" src="/images/logo1.jpg"/>
    <p>DacikMedia</p>
</div>

<div class="row" ng-controller="">
        <div class="container" >
            @await Html.PartialAsync("_Article")
        </div>
</div>
